<% include header %>

<link rel="stylesheet" href="/css/dashboard.css">

<div id="pageApplication"></div>

<!-- add page markup here -->



<!-- add your own js here if applicable -->
<script src="/js/bundle--vendor.js"></script>
<script src="/js/bundle--applicationHome.js"></script>

<% include footer %>
